[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

# Скорость IO важнее сохранности данных
innodb_flush_log_at_trx_commit = 0 

#Нужна компрессия таблиц для экономии места на диске
# Можно использовать Barracuda - формат файла с сжатием
#innodb_file_format=Barracuda

#Размер буффера с незакомиченными транзакциями 1 Мб
innodb_log_buffer_size	= 1M

#Буффер кеширования 30% от ОЗУ
key_buffer_size = 11G

#Размер файла логов операций 100 Мб
max_binlog_size	= 100M
